.footer-bottom {
    background-color: #24283D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.socmed-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #FDD05A;
    background-color: #24283D;
    display: inline-block;
    position: relative;
}

.socmed-btn:hover {
    background-color: #FDD05A;
}

.socmed-btn img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.socmed-container {
    margin: 15px 0;
}


