html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button {
    border: none;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 24px;
}

.navbar {
    background-color: #1F2233;
    padding: 20px 0;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
}

.navbar .brand {
    font-size: 28px;
    font-weight: 900;
    height: auto;
    padding: 10px 0;
    letter-spacing: 2px;
}

.brand {
    color: #FBF4E0;
    font-size: 28px;
    font-weight: 900;
}

.logo {
    color: #FDD05A;
    font-size: 28px;
    font-weight: 900;
}

.topnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.topnav .nav-link {
    text-decoration: none;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 600;
    color: #FBF4E0;
}

#home-navbar {
    color: #FDD05A;
}

.title {
    color: #FBF4E0;
    font-weight: 800;
    display: block;
    font-size: 40px;
    margin-bottom: 40px;
}

.sub-title {
    display: block;
    color: #FDD05A;
    font-size: 22px;;
    font-weight: 600;
}

.btn-yellow {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    background-color: #FDD05A;
    margin-top: 60px;
    border-radius: 5px;
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-yellow:hover {
    background-color: transparent;
    border: 1px solid #FDD05A;
    color: #FDD05A;
}

.paragraph {
    color: #FBF4E0;
    line-height: 2rem;
}

.icon {
    height: 60px;
    width: 60px;
}



